<<<<<<< HEAD
.profile-image {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 1rem;
  }
  
  .details-card {
    background-color: #f8f9fa;
    border: none;
    display: flex;
    align-items: center;
    max-width: 810px;
    padding: 1rem;
    margin: 1rem;
  }
  
  .skills-card {
    background-color: #5499e2;
    color: #fff;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
  }
  
  .studies-card {
    background-color: #57ca6a;
    color: #fff;
  }
  
  .projects-card {
    background-color: #8d9aa5;
    color: #fff;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #333;
  }

  .container_style{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .cards_style{
    width: 400px;
    min-height: 250px;
  }

  .sections_container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem;
    max-width: 810px;
=======
.profile-image {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 1rem;
  }
  
  .details-card {
    background-color: #f8f9fa;
    border: none;
    display: flex;
    align-items: center;
    max-width: 810px;
    padding: 1rem;
    margin: 1rem;
  }
  
  .skills-card {
    background-color: #5499e2;
    color: #fff;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
  }
  
  .studies-card {
    background-color: #57ca6a;
    color: #fff;
  }
  
  .projects-card {
    background-color: #8d9aa5;
    color: #fff;
  }
  
  .section-title {
    font-size: 1.5rem;
    color: #333;
  }

  .container_style{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .cards_style{
    width: 400px;
    min-height: 250px;
  }

  .sections_container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem;
    max-width: 810px;
>>>>>>> 47570808c5eba5690650b57895085a31f452edbc
  }