.dark-footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 20px 0;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 15px;
  }
  
  .social-icons i {
    font-size: 24px;
  }
  .title{
    margin:0 0.5rem 0 0; 
  }
  .titleContainer{
    margin: 0 0 2rem 0;
  }

  
  