<<<<<<< HEAD
.logo{
    margin: 0 3rem 0 0;
    cursor: pointer;
}

.toggle{
    margin:0 1rem 0 0;
=======
.logo{
    margin: 0 3rem 0 0;
    cursor: pointer;
}

.toggle{
    margin:0 1rem 0 0;
>>>>>>> 47570808c5eba5690650b57895085a31f452edbc
}