<<<<<<< HEAD
.detail_container{
    background-color: rgb(238, 255, 253);
    height: 40vw;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(133, 133, 133);
    
    
}

.button1{
    padding: 0 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 1rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.158);   
}

=======
.detail_container{
    background-color: rgb(238, 255, 253);
    height: 40vw;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(133, 133, 133);
    
    
}

.button1{
    padding: 0 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 1rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.158);   
}

>>>>>>> 47570808c5eba5690650b57895085a31f452edbc
