.card_Style {
    margin: 2rem;
    padding: 1rem 0;
}

.commentStyle {
    display: flex;
    align-items: center;
    justify-content: center;

}

.detailStyle {
    display: flex;
    flex-direction: row;
}

.img_style {
    padding: 0 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_card {
    padding: 1rem;
}

.no_reviews {
    padding:1rem 7.1rem;
    font-size: 25px;
    font-weight: 600;
    margin: 2rem 0;
}