<<<<<<< HEAD
.invalid_field{
    border-color:red;
    color:red;
    background-color:white;
=======
.invalid_field{
    border-color:red;
    color:red;
    background-color:white;
>>>>>>> 47570808c5eba5690650b57895085a31f452edbc
}